In [4]:
orders = pd.read_excel('/content/temp data dictionary.xlsx')

# Orders Table

In [5]:
orders

,Column Name,Data Type,Description/Notes,Example,Useful Foreign Keys
0,asin,text,NaN,NaN,NaN
1,audience_rating,text,NaN,NaN,NaN
2,author,text,NaN,NaN,NaN
3,binding,text,NaN,NaN,NaN
4,category,text,NaN,NaN,NaN
5,contributor,text,NaN,NaN,NaN
6,dimension_unit,text,NaN,NaN,NaN
7,ean,text,NaN,NaN,NaN
8,genre,text,NaN,NaN,NaN
9,height,numeric,NaN,NaN,NaN
10,is_adult_product,boolean,NaN,NaN,NaN
11,languages,text,NaN,NaN,NaN
12,length,numeric,NaN,NaN,NaN
13,nielsen_author,text,NaN,NaN,NaN
14,nielsen_depth,integer,NaN,NaN,NaN
15,nielsen_dimension_unit,text,NaN,NaN,NaN
16,nielsen_height,integer,NaN,NaN,NaN
17,nielsen_weight,integer,NaN,NaN,NaN
18,nielsen_weight_unit,text,NaN,NaN,NaN
19,nielsen_width,integer,NaN,NaN,NaN
20,number_of_discs,smallint,NaN,NaN,NaN
21,number_of_pages,text,NaN,NaN,NaN
22,package_type,text,NaN,NaN,NaN
23,platform,text,NaN,NaN,NaN
24,publication_date,date,NaN,NaN,NaN
25,publisher,text,NaN,NaN,NaN
26,region_code,text,NaN,NaN,NaN
27,title,text,NaN,NaN,NaN
28,updated_time,timestamp with time zone,NaN,NaN,NaN
29,weight,numeric,NaN,NaN,NaN
30,weight_unit,text,NaN,NaN,NaN
31,width,numeric,NaN,NaN,NaN